body {
    font-family: Arial, sans-serif;
    background-color: #f0f9ff;
}

.btn-primary {
    display: inline-block;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0078FF;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 120, 255, 0.2);
    border: none;
}

.navbar {
    background-color: #0078FF;
}
.navbar-brand, .nav-link {
    color: #fff !important;
}

.hero-section{
    height:80vh;
    background-image: url('/static/images/now.png');
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0078FF;
    text-align: center;
}

.top{
    justify-content: center;
    align-items: center;
    color: #0078FF;
    text-align: center;
    padding: 2%;
    background-color: #ffffff;
}

.dashboard{
    background-image: url('/static/images/now.png');
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 40px;
    color: #0078FF;
    text-align: center;
}

.login-container, .Signup-container, .dashboard-sections {
    background: #ffffff;
    padding: 40px 60px 40px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    overflow: hidden; 
}

.Signup-container{
    max-width: 55%;
    padding: 40px;
}

.dashboard-sections {
    max-width: 80%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin: 5% 0 10% 0;
    flex-wrap: wrap;
    height: 70%;
}

.dashboard-section {
    background: #e0f0ff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-content: center;
    width: 40%;
    height: 80%;
    transition: transform 0.3s ease-in-out;
}

.Signup-container form{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .form-group label {
    width: 120px;
    text-align: left;
    flex-shrink: 0;
  }
  
  .form-group input {
    flex: 1;
    padding: 5px;
    min-width: 0%;
    max-width: 100%;
  } 
  
  .Signup-container button {
    grid-column: span 2;
    padding: 10px;
}

p {
    color: black;
}

.signbox{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.step-section {
    height:120vh;
    background-image: url('/static/images/steps.png');
    background-size: cover;
    background-position:center;
    display: flex;
}

.app-section {
    height:100vh;
    background-image: url('/static/images/app.png');
    background-size: cover;
    display: flex;
}

.scroll-cards {
    display: flex;
    gap: 120px;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap; 
    scroll-behavior: smooth; 
    margin: 30px 150px 60px;
}

.card {
    background:#e0f0ff;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007BFF;
    margin-bottom: 30px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #0078FF;
}

.btn-primary:hover {
    background-color: #005FCC;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 120, 255, 0.3);
}

@media screen and (max-width: 768px) {
    .Signup-container {
        width: 90%;
        max-width: 400px;
    }

    .Signup-container form {
        grid-template-columns: 1fr;
    }

    .Signup-container button {
        grid-column: span 1; 
    }
}

.modal {
    display: none !important;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 65%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.7);
    transition: transform 0.2s ease-in-out;
}

.modal-content form {
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.modal-content h2{
    color: #0078FF;
}

.modal.show .modal-content {
    transform: scale(1);
}

.modal.show{
    display: flex !important;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
