{% extends 'base2.html' %}
{% block content %}

<div class="patient-dashboard">
    <!-- <nav class="navigation-bar"> -->
        <!-- <h2>Patient Dashboard</h2> -->
        <!-- <div class="user-menu">
            <img src="{{ url_for('static', filename='images/profile-icon.png') }}" alt="Profile" class="user-icon" id="userIcon">
            <ul class="menu-dropdown" id="menuDropdown">
                <li><a href="/settings">⚙ Settings</a></li>
                <li><a href="/update-profile">📝 Update Profile</a></li>
                <li><a href="/logout">🚪 Logout</a></li>
            </ul>
        </div> -->
    <!-- </nav> -->
    <div class="card-wrapper">
        <div class="patient-section">
            <h2>📜 Medical History</h2>
            <p>View and manage your past medical records.</p>
            <a href="/history" class="btn btn-main">View History</a>
        </div>
    
        <div class="patient-section">
            <h2>📅 Book an Appointment</h2>
            <p>Schedule a consultation with a doctor.</p>
            <a href="/get-appointment" class="btn btn-main">Get Appointment</a>
        </div>
    </div>
    
</div>
{% endblock %}
